<header class="myHeader">
  <div class="containter-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="logo-link">
            <a href="/"><img src="images/logo.png" alt="Employee Recognition System" class="logo" /></a>
          </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
        </div>
      </div>
    </div> <!-- /container -->
  </div> <!-- /container-fluid -->
  <div class="containter-fluid title">
    <div class="container padding40lr">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding10tb">
          <input type="button" id="helpBtn" class="w150" data-toggle="modal" data-target="#helpModal" value="Help">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <form method="get" action="login" class="inline-block pull-right">
            <input type="submit" id="submitBtn" class="inline-block w150 margin20tb" role="button" value="Log Out">
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
